In [1]:
import pandas as pd

In [2]:
location_db = pd.read_pickle('data/processed/location_db.p')
results_biomass = pd.read_pickle('data/results/biomass_sold.p')
results_urea = pd.read_pickle('data/results/urea_sold.p')
results_route = pd.read_pickle('data/results/biomass_used.p')

In [3]:
location_db

,name,state,location_type,area_harvested_cocoa,cocoa,area_planted_cocoa,area_harvested_coffee,coffee,area_planted_coffee,area_planted_corn,...,sugarcane_straw,sugarcane_straw_cost,sugarcane_bagasse,sugarcane_bagasse_cost,coffee_husk,coffee_husk_cost,cocoa_residue,cocoa_residue_cost,urea_price,location_id
id,,,,,,,,,,,,,,,,,,,,,
5200050,Abadia de Goias,Goias,city,0,0,0,0,0,0,210,...,188.2100,60,79.750,40,0.000,60,0.000,60,310,5200050
3100104,Abadia dos Dourados,Minas Gerais,city,0,0,0,182,371,182,1920,...,51.9200,60,22.000,40,109.445,60,0.000,60,310,3100104
5200100,Abadiania,Goias,city,0,0,0,0,0,0,1600,...,0.0000,60,0.000,40,0.000,60,0.000,60,310,5200100
1500107,Abaetetuba,Para,city,140,51,140,40,27,40,90,...,389.4000,60,165.000,40,7.965,60,15.045,60,310,1500107
3100203,Abaete,Minas Gerais,city,0,0,0,60,195,60,820,...,1323.9600,60,561.000,40,57.525,60,0.000,60,310,3100203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4101150,Angulo,Parana,city,0,0,0,5,6,5,6546,...,1678.0544,60,711.040,40,1.770,60,0.000,60,310,4101150
2900504,Erico Cardoso,Bahia,city,0,0,0,6,4,6,240,...,580.3358,60,245.905,40,1.180,60,0.000,60,310,2900504
15001,Obidos,Para,microregion,0,0,0,0,0,0,261,...,72.6880,60,30.800,40,0.000,60,0.000,60,310,1505106
1505106,Obidos,Para,city,0,0,0,0,0,0,100,...,20.7680,60,8.800,40,0.000,60,0.000,60,310,1505106
3533809,Oleo,Sao Paulo,city,0,0,0,80,134,80,3130,...,49064.4000,60,20790.000,40,39.530,60,0.000,60,310,3533809

In [4]:
results_biomass.columns = location_db.loc[results_biomass.columns, 'name']
results_urea.index = location_db.loc[results_urea.index, 'name']

In [5]:
results_biomass.loc[:, (results_biomass != 0).any()]

name,Barrinha,Guariba,Jaboticabal,Monte Alto,Pradopolis,Taiacu,Taiuva,Taquaral,Taquaritinga
rice_husk,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
coffee_husk,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
corn_stover,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
soy_straw,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
sugarcane_straw,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
sugarcane_bagasse,49087.5,99110.0,284872.5,43477.5,32181.950617,34127.5,35997.5,9680.0,128749.5